form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -27px;
}

.wrapper {
  width: 46rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper input {
  width: 39.875rem;
  height: 3.375rem;
  background-color: var(--gray-500);
  border: none;
  padding: 1rem;
  color: var(--gray-300);
  border-radius: 0.5rem;
}

.wrapper input:focus {
  color: var(--gray-100);
}

.wrapper button {
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  background-color: var(--blue--dark);
  padding: 1rem;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.wrapper button:hover {
  background-color: var(--blue);
}
